.newsletter {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    margin-bottom: 5vh;
    background: linear-gradient(180deg, #a2dfe5, #e1ffea22 60%);
    gap: 20px;
  }
  
  .newsletter h1 {
    color: #454545;
    font-size: 40px;
    font-weight: 600;
  }
  
  .newsletter p {
    color: #454545;
    font-size: 16px;
  }
  
  .newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    border-radius: 40px;
    border: 1px solid #e3e3e3;
  }
  
  .newsletter button {
    padding: 10px 20px;
    width: auto;
    font-size: 14px;
    border-radius: 20px;
  }
  
  .newsletter input {
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  